[MASTER]
# Python code to execute, usually for sys.path manipulation
init-hook='import sys; sys.path.append(".")'

[MESSAGES CONTROL]
# Disable specific warnings
disable=missing-docstring,too-few-public-methods,too-many-arguments,import-error

[FORMAT]
# Maximum number of characters on a single line
max-line-length=100

# Naming conventions
module-rgx=(([a-z_][a-z0-9_]*)|([A-Z][a-zA-Z0-9]+))$
const-rgx=(([A-Z_][A-Z0-9_]*)|(__.*__))$
class-rgx=[A-Z][a-zA-Z0-9]+$
function-rgx=[a-z_][a-z0-9_]{2,30}$
method-rgx=[a-z_][a-z0-9_]{2,30}$
variable-rgx=[a-z_][a-z0-9_]{2,30}$

[BASIC]
# Good variable names
good-names=i,j,k,ex,Run,_,id,db

[DESIGN]
# Maximum number of arguments
max-args=7

# Maximum number of attributes
max-attributes=10

# Maximum number of public methods
max-public-methods=20

